/* You can add global styles to this file, and also import other style files */

$highlight: #fdde87;
$glow: #fdde87;
$inactive: #523201;
$active: #fdde87;
$background: #523201;
$label: #AAAAAA;


.farpi {
    background-image: url("assets/mars_1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    height: 100%;
	color: $label;
    font-family: 'Abel', sans-serif;
    font-size: 14pt;
    display: block;
}

.farpi-title {
    --aug-bl: 20px;
    --aug-bl-inset2: 90%;
    --aug-br: 20px;
    --aug-br-inset1: 0%;
    --aug-border-all: 0px;
    --aug-border-bottom: 1px;
    --aug-border-bg: #fdde87;
    color: $highlight;
    background: #000000;
    font-size:12pt;
    vertical-align: middle;
    justify-content: left;
    align-items: left;
    padding-top:20px;
    padding-bottom: 20px;
    font-family: 'Abel', sans-serif;
    font-size: 30pt;
	text-align: center;
    margin-bottom: 20px;
}

.farpi-subTitle {
    color: $glow;
	width: 100%;
    padding-top: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 25pt;
	text-align: center;
}

.farpi-hr {
    display: block;
    border: 0 none;
    border-top: 1px solid;
    border-color: $glow;
    margin: 1em 0;
    padding: 0;
    box-shadow: 0 0 15px $glow;
}

.farpi-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.farpi-panel {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.farpi-container {
    --aug-tr: 10px;
    --aug-bl: 10px;
    --aug-br: 10px;
    --aug-border-all: 1px;
    --aug-border-bg: #fdde87;
    --aug-br-inset2: 70%;
    --aug-b: 10px;
    --aug-b-extend1: 50%;
    color: #fdde87;
    margin: 1em;
    font-size:12pt;
    vertical-align: middle;
    justify-content: left;
    align-items: left;
    padding: 0;
}

.farpi-label {
    display: inline-block;
    height: 100%; // 1em;
    vertical-align: middle;
    transition: color 0.5s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.farpi-GaugeLabel {
    display: inline-block;
    height: 1em;
    font-size: 12pt;
    vertical-align: top;
    float: right;
    z-index: 1000;
    transition: color 0.5s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.farpi-toggle_switch {
    border-style: solid;
    border-color: $active;
    border-width: 1px;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    height: 1em;
    width: 2em;
    margin: 0;
    margin-right: 1ex;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
}

.farpi-toggle_indicator {
    border-style: solid;
    border-width: 0px;
    border-radius: 50%;
    border-color: $active;
    background: $inactive;
    display: inline-block;
    margin: 0;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s, margin 0.25s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.farpi-toggle_switch_on {
    background: $active;
}

.farpi-toggle_on {
    margin-left: 1em;
    background: $highlight;
}

.farpi-LineGauge {
    border-style: solid;
    border-width: 1px;
    border-radius: 1em 0.25em 0.25em 1em;
    border-color: $inactive;
    background-color: $background;
    box-shadow: 0 0 15px $inactive;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.farpi-LineGauge_indicator {
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 0 0;
    border-color: $active;
    background: $inactive;
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 1ex;
    width: 5em;
    height: 0.75em;
    vertical-align: middle;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
}

.farpi-LineGauge_bar {
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 0 0;
    border-color: $active;
    background: $highlight;
    box-shadow: 0 0 25px $glow;
    display: inline-block;
    margin: 0;
    width: 4em;
    height: 100%;
    vertical-align: middle;
    transition: width 0.25s;
}

.farpi-ArcGauge {
    border-style: solid;
    border-width: 1px;
    border-radius: 1em 1em 1em 1em;
    border-color: $inactive;
    background-color: $background;
    box-shadow: 0 0 15px $inactive;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.farpi-ArcGaugeContainer {
    width: 100px;
    height: 100px;
}

.farpi-ArcGauge_scale_bg {
    fill-opacity: 0;
    stroke: $inactive;
    stroke-width: 16px;
    stroke-linecap: round;
}

.farpi-ArcGauge_scale_outline {
    fill-opacity: 0;
    stroke: $active;
    stroke-width: 18px;
    stroke-linecap: round;
}

.farpi-ArcGauge_bar {
    fill-opacity: 0;
    stroke: $highlight;
    stroke-width: 10px;
    stroke-linecap: round;
}

.farpi-ArcGaugeText {
    fill: $highlight;
    font-size: 30px;
}

.farpi-ArcGaugeLabel {
    fill: $highlight;
    font-size: 22px;
}

.farpi-interactive:hover {
    border-color: $highlight;
    cursor: pointer;
}

.farpi-LED_on {
    background: $highlight;
}

.farpi-on_glow {
    border-color: $highlight;
    box-shadow: 0 0 25px $glow;
}

.my-augfiguration {
    --aug-tr: 5px;
    --aug-tl: 30px;
    --aug-bl: 5px;
    --aug-br: 30px;
    //--aug-br-inset2: 10%;
    --aug-border-all: 1px;
    --aug-border-bg: #078EAA;
    color: #52bebe;
 //   height: 10em;
    width: 20em;
    margin: 1em;
    background: $background;
    font-size:10pt;
  }