<!-- <div class="farpi-LED" [class.farpi-on_glow]="state">
    <span class="farpi-LED_indicator" [class.farpi-LED_on]="state">&nbsp;</span>
    <span class="farpi-label">{{ label }}</span>
</div> -->

<div class="farpi-LED" data-augmented-ui="border tr-clip tl-clip bl-clip br-clip">
    <div data-augmented-ui-reset>
        <div data-augmented-ui="border tl-clip br-clip" class="farpi-LED_indicator" [class.farpi-LED_on]="state">&nbsp;</div>
        <span class="farpi-label">{{ label }}</span>
    </div>
</div>
