
$highlight: #fdde87;
$glow: #fdde87;
$inactive: #523201;
$active: #fdde87;
$background: #523201;
$label: #AAAAAA;

.farpi-LED {
    --aug-tr: 5px;
    --aug-tl: 30px;
    --aug-bl: 5px;
    --aug-br: 30px;
    --aug-border-all: 1px;
    --aug-border-bg: #fdde87;
    color: #fdde87;
    width: 20em;
    margin: 1em;
    background: $background;
    font-size:12pt;
    vertical-align: middle;
    justify-content: left;
    align-items: left;
    padding: 10px;
    padding-left: 15px;
  }

.farpi-LED_indicator {
  --aug-tl: 20px;
  --aug-br: 20px;
  --aug-border-all: 1px;
  --aug-border-bg: #fdde87;

  // border-style: solid;
  // border-width: 1px;
  // border-radius: 50%;
  // border-color: $active;
  //background: $active;
  display: inline-block;
  margin: 0;
  margin-right: 1ex;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}