/* You can add global styles to this file, and also import other style files */

$highlight: #87fded;
$glow: #1481c4;
$inactive: #001f3b;
$active: #078EAA;
$background: #012d52;
$label: #AAAAAA;


body {
    background-image: url("assets/background_grid.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    height: 100%;
	color: $label;
    font-family: 'Abel', sans-serif;
    font-size: 14pt;
    display: block;
}

.title { 	
    color: $highlight;
	width: 100%;
	padding: 0;
	border: 0;
    padding-top:20px;
    font-family: 'Abel', sans-serif;
    font-size: 30pt;
	text-align: center;
	margin: 0;
}

.subTitle {
    color: $glow;
	width: 100%;
    padding-top: 5px;
    font-family: 'Abel', sans-serif;
    font-size: 25pt;
	text-align: center;
}

hr {
    display: block;
    border: 0 none;
    border-top: 1px solid;
    border-color: $glow;
    margin: 1em 0;
    padding: 0;
    box-shadow: 0 0 15px $glow;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
}

.panel {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.LED {
    border-style: solid;
    border-width: 1px;
    border-radius: 1em 0.25em 0.25em 1em;
    border-color: $inactive;
    background-color: $background;
    box-shadow: 0 0 25px $inactive;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LED_indicator {
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: $active;
    background: $inactive;
    display: inline-block;
    margin: 0;
    margin-right: 1ex;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.label {
    display: inline-block;
    height: 1em;
    font-size: 15pt;
    vertical-align: middle;
    transition: color 0.5s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.GaugeLabel {
    display: inline-block;
    height: 1em;
    font-size: 12pt;
    vertical-align: top;
    float: right;
    z-index: 1000;
    transition: color 0.5s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.toggle_switch {
    border-style: solid;
    border-color: $active;
    border-width: 1px;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    height: 1em;
    width: 2em;
    margin: 0;
    margin-right: 1ex;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
}

.toggle_indicator {
    border-style: solid;
    border-width: 0px;
    border-radius: 50%;
    border-color: $active;
    background: $inactive;
    display: inline-block;
    margin: 0;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s, margin 0.25s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version */
}

.toggle_switch_on {
    background: $active;
}

.toggle_on {
    margin-left: 1em;
    background: $highlight;
}

.LineGauge {
    border-style: solid;
    border-width: 1px;
    border-radius: 1em 0.25em 0.25em 1em;
    border-color: $inactive;
    background-color: $background;
    box-shadow: 0 0 15px $inactive;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LineGauge_indicator {
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 0 0;
    border-color: $active;
    background: $inactive;
    display: flex;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 1ex;
    width: 5em;
    height: 0.75em;
    vertical-align: middle;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
}

.LineGauge_bar {
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 0 0;
    border-color: $active;
    background: $highlight;
    box-shadow: 0 0 25px $glow;
    display: inline-block;
    margin: 0;
    width: 4em;
    height: 100%;
    vertical-align: middle;
    transition: width 0.25s;
}

.MessageBox {
    width: 60ex;
    height: 10em;
    padding: 1em;
    box-sizing: border-box;
    border: 1px solid $active;
    border-radius: 1em;
    background-color: $background;
    resize: none;
    color: $highlight;
    font-size: 10pt;
    overflow: hidden;
}

.MessageBox:hover {
    overflow: auto;
}

.ArcGauge {
    border-style: solid;
    border-width: 1px;
    border-radius: 1em 1em 1em 1em;
    border-color: $inactive;
    background-color: $background;
    box-shadow: 0 0 15px $inactive;
    margin: 10px;
    vertical-align: middle;
    padding: 10px;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ArcGaugeContainer {
    width: 100px;
    height: 100px;
}

.ArcGauge_scale_bg {
    fill-opacity: 0;
    stroke: $inactive;
    stroke-width: 16px;
    stroke-linecap: round;
}

.ArcGauge_scale_outline {
    fill-opacity: 0;
    stroke: $active;
    stroke-width: 18px;
    stroke-linecap: round;
}

.ArcGauge_bar {
    fill-opacity: 0;
    stroke: $highlight;
    stroke-width: 10px;
    stroke-linecap: round;
}

.ArcGaugeText {
    fill: $highlight;
    font-size: 30px;
}

.ArcGaugeLabel {
    fill: $highlight;
    font-size: 22px;
}

.interactive:hover {
    border-color: $highlight;
    cursor: pointer;
}

.LED_on {
    background: $highlight;
}

.on_glow {
    border-color: $highlight;
    box-shadow: 0 0 25px $glow;
}

.HeartBeat {
    border-style: solid;
    border-width: 1px;
    border-radius: 1em;
    border-color: $active;
    background: $inactive;
    display: inline-block;
    margin: 15px;
    padding-left: 1em;
    padding-right: 1em;
    vertical-align: middle;
    font-size: 8pt;
    font-weight: bold;
    color: $highlight;
    float: right;
    transition: background 0.5s, box-shadow 0.5s, border-color 0.5s, color 0.5s;
    z-index: 1000;
}

.HeartBeatGlow {
    border-color: $highlight;
    box-shadow: 0 0 25px $glow;
    background: $highlight;
    color: $inactive;
}
