<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Marvin Control Center</span>
    <span class="menu-bar-spacer"></span>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<!-- <mat-progress-bar
  color="primary"
  mode="indeterminate">
</mat-progress-bar> -->