<div class="container">
  <!-- Toolbar -->
  <div class="title" role="banner">
    <span>FarPi v2</span>
    <div class="HeartBeat" id="HeartBeat">&nbsp;</div>
  </div>
  <hr />
  <div class="content" role="main">

    <!-- Highlight Card -->
    <div>
      <span>{{ title }} app is running!</span>
    </div>

    <!-- Next Steps -->
    <h2>Next Steps</h2>
    <p>What do you want to do next with your app?</p>

    <!-- Terminal -->
    <div class="terminal">
        <pre>Message output here</pre>
    </div>

    <app-base-control></app-base-control>

    <!-- Footer -->
    <footer>

    </footer>

  </div>

  <router-outlet></router-outlet>
</div>